# narrowd sample config
Port 2222
ListenAddress 0.0.0.0

HostKey ~/.config/narrowd/ssh_host_ed25519_key
AuthorizedKeysFile ~/.ssh/authorized_keys

Shell /bin/bash
PermitTTY yes
PermitExec yes

Subsystem sftp internal-sftp
AllowTcpForwarding yes
AllowRemoteForwarding yes
GatewayPorts yes

# Parsed for compatibility, but not implemented yet.
X11Forwarding no
X11DisplayOffset 10
X11UseLocalhost yes

LogLevel info
